---
import PrimaryLayout from "../layouts/PrimaryLayout.astro"
import FeaturedArticle from "../components/FeaturedArticle.astro"
import PopularArticles from "../components/PopularArticles.astro"
const title = "Blog website temp Khalid"
---


<PrimaryLayout title = "Homepage">
	<!-- Header -->
	<div class="three-columns">
		<FeaturedArticle class="span-2"/>
			<div class="inverted">Lorem ipsum, dolor sit amet 	consectetur adipisicing elit. Consequatur quia perferendis laboriosam aspernatur molestias harum tenetur? Aliquid dolorum totam corporis reprehenderit expedita nihil sunt, sequi pariatur doloribus tempore beatae aliquam.
			</div>


			<PopularArticles class = "three-columns"/>

		
		

	</div>
		
	
	
</PrimaryLayout>