---
const {class: className} = Astro.props;
---

<ul class:list={className}>
    <li>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis nisi quaerat adipisci expedita quibusdam, odit architecto quasi, ad temporibus dolores voluptatibus iusto. Accusantium eligendi nihil architecto commodi eos sapiente.</p>
        </article>
    </li>
    <li>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis nisi quaerat adipisci expedita quibusdam, odit architecto quasi, ad temporibus dolores voluptatibus iusto. Accusantium eligendi nihil architecto commodi eos sapiente.</p>
        </article>
    </li>
    <li>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis nisi quaerat adipisci expedita quibusdam, odit architecto quasi, ad temporibus dolores voluptatibus iusto. Accusantium eligendi nihil architecto commodi eos sapiente.</p>
        </article>
    </li>

</ul>